#root {
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: whitesmoke;
}

.bg-blue {
    margin-left: 50px;
    margin-right: 50px;
}

div a {
    color: black;
    text-decoration: none;
}

h6 a {
    color: orange;
    text-decoration: none;
}